$canvas-size: 400px;

.canvas {
    position: relative;
    width: $canvas-size;
    height: $canvas-size;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    #layer-1 {
        box-shadow: black 20px 10px 50px;
        z-index: 1;
    }

    #layer-2 {
        z-index: 2;
    }
}

.title {
    font-size: 4em;
    font-weight: bold;
    margin: 20px;
}
